.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.header {
  text-align:"left";
  width:"100%";
  height:"40px";
  background-color: #9fc6c6;
  vertical-align:"center";
  display:"inline-block";
}

.App-link {
  color: #09d3ac;
}


body{
  margin-top: 0px;
  margin-bottom: 0px;
}

.footer{
  position: fixed;
  bottom:0px;
  width: 100%;
  background-color: #9fc6c6;
}

/*------------------------------------*\
    START :NAV
\*------------------------------------*/
.nav {
    list-style: none;
    font-weight: normal;
    margin-bottom: 10px;
    float: left; /* Clear floats */
    width: 100%;
    /* Bring the nav above everything else--uncomment if needed.
    position: relative;
    z-index: 5;
    */
}
.nav li {
    float: left;
    /*margin-top: 10px;*/
    margin-right: 15px;
    position: relative;
}
.nav a {
    display: block;
    padding: 5px;
    color: rgb(97, 94, 94);
    background-color:none;
    text-decoration: none;
}
.nav a:hover {
    color: #fff;
    background-color: #a7a1a4;
    /*text-decoration: underline;*/
}

/*--- DROPDOWN ---*/
.nav ul {
    background-color: #fff; /* Adding a background makes the dropdown work properly in IE7+. Make this as close to your page's background as possible (i.e. white page == white background). */
    background: rgba(255,255,255,0); /* But! Let's make the background fully transparent where we can, we don't actually want to see it if we can help it... */
    list-style: none;
    position: absolute;
    left: -9999px; /* Hide off-screen when not needed (this is more accessible than display: none;) */
}
.nav ul li {
    padding-top: 1px; /* Introducing a padding between the li and the a give the illusion spaced items */
    float: none;
}
.nav ul a {
    white-space: nowrap; /* Stop text wrapping and creating multi-line dropdown items */
}
.nav li:hover ul { /* Display the dropdown on hover */
    left: 0; /* Bring back on-screen when needed */
}
.nav li:hover a { /* These create persistent hover states, meaning the top-most link stays 'hovered' even when your cursor has moved down the list. */
    background-color: #b6b3b4;
    /*text-decoration: underline;*/
    height: 37px;
}
.nav li:hover ul a { /* The persistent hover state does however create a global style for links even before they're hovered. Here we undo these effects. */
    text-decoration: none;
}
.nav li:hover ul li a:hover { /* Here we define the most explicit hover states--what happens when you hover each individual link. */
    background-color: #333;
}

/*------------------------------------*\
    END :NAV
\*------------------------------------*/


 /* start: Style the tab */
 .tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
} 

/* end: Style the tab */